<!DOCTYPE html>
<html>
<head>
<meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
<link href="<%= url 'reset.css' %>" media="screen" rel="stylesheet" type="text/css">
<link href="<%= url 'style.css' %>" media="screen" rel="stylesheet" type="text/css">

<title>Multivariate</title>

</head>
<body>
    <div class="header">
      <ul class='nav'>

      </ul>
    </div>

  <div id="main">
    <%= yield %>
  </div>

  <div id="footer">
    <p>Powered by <a href="http://github.com/andrew/multivariate">Multivariate</a> v<%=Multivariate::VERSION %></p>
  </div>
</body>
</html>