<div class="experiment">
  <div class="experiment-header">
      <div class='inline-controls'>
        <small><%= experiment.start_time ? experiment.start_time.strftime('%Y-%m-%d') : 'Unknown' %></small>
        <%= erb :_controls, :locals => {:experiment => experiment} %>
      </div>
  </div>
</div>
